body {
    background: url(https://abrakadabra.fun/uploads/posts/2022-02/1643773406_16-abrakadabra-fun-p-kanokha-ili-konokha-naruto-26.jpg);
    margin: 0;
    font-family: Arial, sans-serif;
}

.title {
    text-align: center;
    margin-top: 30px;
    font-size: 36px;
    color: #333;
}

.cards-container {
    max-width: 1100px;
    margin: 40px auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.card {
    background: white;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.15);
    text-align: center;
    transition: 0.3s;
}

.card:hover {
    transform: scale(1.03);
}

.card img {
    width: 100%;
    height: 380px;
    border-radius: 8px;
    object-fit: cover;
}

.card h3 {
    font-size: 20px;
    margin: 10px 0 5px;
}

.card p {
    color: #555;
}
